body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Fondo verde para toda la página */
    font-family: Arial, sans-serif;
}

.heart-container {
    position: relative;
    animation: heartbeat 1s infinite;
}

.heart {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.6)) brightness(120%); /* Sombra un poquito más ancha y brillo aumentado en todo el corazón */
}

.name {
    font-size: 24px;
    margin-top: 10px;
    color: #B52B55; /* Cambiamos el color a azul */
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    animation: colorChange 5s infinite;
}

.love {
    font-size: 24px;
    color: #B52B55; /* Cambiamos el color a azul */
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    animation: colorChange 5s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes colorChange {
    0% {
        color: #B52B55; /* Cambiamos el color a azul */
    }
    50% {
        color: rgba(255, 255, 255, 0.6);
    }
    100% {
        color: #B52B55; /* Cambiamos el color a azul */
    }
}
